@{ 
    Layout = null;
}
<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--iconos-->
    <script src="https://kit.fontawesome.com/47c1ec656c.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <title>Virtual_School</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="btn-menu">
                <label for="btn-menu">
                    <img src="https://previews.123rf.com/images/hayesnch/hayesnch1512/hayesnch151200247/49753987-ilustraci%C3%B3n-del-vector-del-tatuaje-del-drag%C3%B3n-chino-aislado-en-blanco.jpg" width="55" height="55">
                </label>
            </div>
            <div class="logo">
                <h1>Virtual_School</h1>
            </div>
            <nav class="menu">
                <a class="register" href="/login/register">Register</a>
                <a href="/login/login">Login</a>
            </nav>
            <!--- Lista desplegable--->
            <div id="header1">
                <ul class="nav">
                    <li>
                        <a id="categoria" href="#">Categorias +</a>
                        <ul class="lista">
                            <li>
                                <a href="#">tamaño de ancho borde</a>
                                <ul class="sublista">
                                    <li><a href="#">subSubmenu1</a></li>
                                    <li><a href="#">subSubmenu2</a></li>
                                    <li><a href="#">subSubmenu3</a></li>
                                    <li><a href="#">subSubmenu4</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">Submenu2</a>
                                <ul class="sublista">
                                    <li><a href="#">subSubmenu1</a></li>
                                    <li><a href="#">subSubmenu2</a></li>
                                    <li><a href="#">subSubmenu3</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Submenu3</a>
                                <ul class="sublista">
                                    <li><a href="#">subSubmenu1</a></li>
                                    <li><a href="#">subSubmenu2</a></li>
                                    <li><a href="#">subSubmenu3</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Submenu4</a>
                                <ul class="sublista">
                                    <li><a href="#">subSubmenu1</a></li>
                                    <li><a href="#">subSubmenu2</a></li>
                                    <li><a href="#">subSubmenu3</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
            <!---aca termina la lista :v-->
            <div class="buscador">
                <label for="Buscar"><i class="fas fa-search"></i></label>
                <input type="search" id="Buscar" size="30" placeholder="Buscar" />
            </div>
        </div>
    </header>
    <main>
        <section class="contenido1">
            <figure id="imagen1">
                <img src="https://www.10wallpaper.com/wallpaper/1920x1080/1112/long_road_ahead-Beautiful_natural_scenery_desktop_wallpaper_1920x1080.jpg" alt="No Carga la Imagen ps">
            </figure>
            <div class="txt">
                <h1>Lorem</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Laboriosam voluptate quod ipsa sed soluta aperiam aliquam
                    esse odit dolorum eos. Quaerat eveniet unde
                    sequi facilis ipsam odio a.
                </p>
            </div>
        </section>
        <section class="contenido2">
            <div class="linea"><!-- linea--></div>
            <div class="examen">
                <a href="#" class="btn-neon">
                    <span id="span1"></span>
                    <span id="span2"></span>
                    <span id="span3"></span>
                    <span id="span4"></span>
                    TOMAR EXAMEN
                </a>
                <div class="examentxt">
                    <h2>Lorem</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laboriosam voluptate quod ipsa sed soluta aperiam aliquam
                        esse odit dolorum eos. Quaerat eveniet unde
                        sequi facilis ipsam odio a.
                    </p>
                    <img src="https://depor.com/resizer/G3roYuZAOcd120dth76uFFj6EF8=/980x0/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/KWVMQ6W6ZZGQLMRJAEIRTHLB3M.jpg"
                         height="150" width="220">
                </div>
            </div>
        </section>
        <section class="linea2"><p>Cursos Online:</p></section>
        @*<section class="contenido3">
                <article class="Cursos">
                    <figure><img src="https://images.pexels.com/photos/669615/pexels-photo-669615.jpeg" alt="No carga la imagen ps" width="400" height="343"></figure>
                    <p class="curso1">Estratégia para poder lograr avanzar en tu negocio</p>
                    <p class="relleno">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio consectetur asperiores, sint sapiente numquam quasi blanditiis exercitationem quo laborum. Dicta, nam? Assumenda voluptatem vel porro quasi minus fugiat in tempore!<a href="#">...más informacion</a>
                    </p>
                    <a href="#" class="inscribirse">Inscribirse</a>
                    <a href="#" class="informacion">Saber más</a>
                </article>
            </section>*@
    </main>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @foreach (var item in Model)
            {
                if (item.Id == 1)
                {
                    <div class="carousel-item active">
                        <a href="/home/detalle"><img src="@item.Caratula" height="200"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@item.Nombre</h5>
                            <p>Ven aprender</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <a href="/home/detalle"><img src="@item.Caratula" height="200"></a>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.Nombre</h5>
                                <p>Ven aprender</p>
                            </div>
</div>
                }
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>