<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual_School</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><h1>Virtual School</h1></a>
            </div>
            <nav class="menu">
                <a class="register" href="/login/register">Register</a>
                <a href="/login/login">Login</a>
            </nav>
            <!--- Lista desplegable--->
            <div id="header1">
                <ul class="nav">
                    <li>
                        <a id="categoria" href="#">Categorías</a>
                        <ul class="lista">
                            <li>
                                <a href="#">Dessarrollo</a>
                                <ul class="sublista">
                                    @*<li><a href="#">subSubmenu1</a></li>
                                    <li><a href="#">subSubmenu2</a></li>
                                    <li><a href="#">subSubmenu3</a></li>
                                    <li><a href="#">subSubmenu4</a></li>*@

                                </ul>
                            </li>
                            <li>
                                <a href="#">Negocios</a>
                                <ul class="sublista">
                                    @*<li><a href="#">subSubmenu1</a></li>
                                    <li><a href="#">subSubmenu2</a></li>
                                    <li><a href="#">subSubmenu3</a></li>*@
                                </ul>
                            </li>
                            <li>
                                <a href="#">Finanzas y Contabilidad</a>
                                <ul class="sublista">
                                    @*<li><a href="#">subSubmenu1</a></li>
                                    <li><a href="#">subSubmenu2</a></li>
                                    <li><a href="#">subSubmenu3</a></li>*@
                                </ul>
                            </li>
                            <li>
                                <a href="#">Informatica y Software</a>
                                <ul class="sublista">
                                    @*<li><a href="#">subSubmenu1</a></li>
                                    <li><a href="#">subSubmenu2</a></li>
                                    <li><a href="#">subSubmenu3</a></li>*@
                                </ul>
                            </li>
                            <li>
                                <a href="#">Productividad en la Oficina</a>
                                <ul class="sublista">
                                    @*<li><a href="#">subSubmenu1</a></li>
                                    <li><a href="#">subSubmenu2</a></li>
                                    <li><a href="#">subSubmenu3</a></li>*@
                                </ul>
                            </li>
                            <li>
                                <a href="#">Diseño</a>
                                <ul class="sublista">
                                    @*<li><a href="#">subSubmenu1</a></li>
                                    <li><a href="#">subSubmenu2</a></li>
                                    <li><a href="#">subSubmenu3</a></li>*@
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
            <!---aca termina la lista :v-->
            <div class="buscador">
                <label for="Buscar"><i class="fas fa-search"></i></label>
                <input type="search" id="Buscar" size="30" placeholder="Buscar" />
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>
